PORT=8080
DB_URL=postgres://vahak:vahak_password@db:5432/vahak?sslmode=disable
DB_POOL_URL=postgres://vahak:vahak_password@db:5432/vahak?sslmode=disable
API_KEY=docker_test_key

# PostgreSQL Initialization
POSTGRES_USER=vahak
POSTGRES_PASSWORD=vahak_password
POSTGRES_DB=vahak
